.navigation#top {
	position: relative;
	top: 0;
	height: 6vh;
}
.navigation#bottom {
	position: fixed;
	bottom: 0px;
	height: 10vh;
}
.nav-nearby.nav-search.nav-home.nav-activity.nav-more {
	height: 100%;
	text-align: center;
}
.feature-box {
	height: 15vh;
	width: 90%;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;
}
.carousel-image-container {
	height: 20vh;
}
@media only screen and (min-width: 768px) {
	.carousel-image-container {
		height: 45vh;
	}
}
.carousel img {
	margin: 0 auto;
	object-position: 50% 50%;
	object-fit: cover;
}
.bottom-nav-spacer {
	min-height: 20vh;
}
body {
	padding-top: 70px;
}
#dropzone {
	display: none;
}
.search-form {
	display: none;
}
.features-select {
	display: none;
}
.beer-rating {
	padding: 0;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
	color: #FFD700;
}
/****** Style Star Rating Widget *****/
.rating { 
	border: none;
	float: left;
	padding-bottom: 10px;
}

.rating > input { 
	display: none; 
} 
.rating > label:before { 
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	font-style: normal;
	display: inline-block;
	content: "\f005";
}
.rating > .half:before { 
	content: "\f089";
	position: absolute;
}

.rating > label { 
	color: #ddd; 
	float: right; 
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }